main .section .dashboard-wrapper {
    padding: unset;
    margin: unset;
    max-width: unset;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.dashboard button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 100px;
}

.dashboard a {
    color: blue !important;       /* Set the text color to blue */
    text-decoration: underline !important; /* Add an underline */
}

.dashboard a:hover {
    color: darkblue;   /* Change color on hover */
    text-decoration: underline; 
}

button.approve {
    background-color: #4CAF50;
    color: white;
}

button.reject {
    background-color: #f44336;
    color: white;
}

button.disabled {
    cursor: not-allowed;
    filter: blur(2px);
    opacity: 0.5; 
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.filter-container label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
}

.filter-container select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.filter-container button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: white;
}

.loading-container {
    display: inline-block;
    text-align: center;
}
.dots {
    display: inline-block;
    width: 1.5em; /* Space for the dots */
    text-align: left;
}
@keyframes dotAnimation {
    0% { content: ""; }
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
    100% { content: ""; }
}
.dots::after {
    display: inline-block;
    animation: dotAnimation 1.5s infinite;
    content: "";
}